---
import Favicon from "/public/favicon.svg";
const {
 title = "Why Not Astro?",
 description = "Astro is a modern static site builder that empowers developers to create fast, flexible, and user-friendly websites. Explore innovative features, tutorials, and resources to kickstart your web development journey with Astro.",
 ...props
} = Astro.props;
const ogImagePath = "/public/og-image.png";
---

<link rel="sitemap" href="/sitemap-index.xml" />

<!-- HTML Meta Tags -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{title}</title>
<meta name="description" content={description} />

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://whynotastro.vercel.app/" />
<meta property="og:type" content="website" />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={ogImagePath} />

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content="whynotastro.vercel.app" />
<meta property="twitter:url" content="https://whynotastro.vercel.app/" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={ogImagePath} />

<link rel="icon" type="image/svg+xml" href={Favicon.src} />
